<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://localhost/Bware</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <MSDeployServiceURL>localhost</MSDeployServiceURL>
    <DeployIisAppPath>Default Web Site/Bware</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>InProc</MSDeployPublishMethod>
    <EnableMSDeployBackup>false</EnableMSDeployBackup>
    <UserName />
    <_SavePWD>false</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="9" Enabled="False">
          <Destination Path="Data Source=tcp:windflower.arvixe.com;Initial Catalog=Bware;Integrated Security=False;User ID=jdsv650;Password=LetMeIn1234!" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WebService.Models.ApplicationDbContext, WebService" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="SQLSERVER2012" Order="10" Enabled="False">
          <Destination Path="Data Source=tcp:windflower.arvixe.com;Initial Catalog=Bware;Integrated Security=False;User ID=jdsv650;Password=LetMeIn1234!" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Bware.Data.BwareContext, Bware.Data" MigrationConfiguration="Bware.Data.Migrations.Configuration, Bware.Data" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <EnableMsDeployAppOffline>false</EnableMsDeployAppOffline>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:windflower.arvixe.com;Initial Catalog=Bware;Integrated Security=False;User ID=jdsv650;Password=LetMeIn1234!</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="SQLSERVER2012-Web.config Connection String">
      <ParameterValue>Data Source=tcp:windflower.arvixe.com;Initial Catalog=Bware;Integrated Security=False;User ID=jdsv650;Password=LetMeIn1234!</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>