<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://www.myopenroad.info/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://w15.winhost.com:8172/MsDeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>myopenroad.info/</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <IncludeSetAclProviderOnDestination>false</IncludeSetAclProviderOnDestination>
    <UserName>myopenro</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:s08.winhost.com;Initial Catalog=DB_66156_or;Integrated Security=False;User ID=***REMOVED***;Password=***REMOVED***" Name="Data Source=tcp:s08.winhost.com;Initial Catalog=DB_66156_or;User ID=***REMOVED***;Password=***REMOVED***;Integrated Security=False;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WebService.Models.ApplicationDbContext, WebService" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="SQLSERVER2012" Order="2" Enabled="True">
          <Destination Path="Data Source=tcp:s08.winhost.com;Initial Catalog=DB_66156_or;Integrated Security=False;User ID=***REMOVED***;Password=***REMOVED***" Name="Data Source=tcp:s08.winhost.com;Initial Catalog=DB_66156_or;User ID=***REMOVED***;Password=***REMOVED***;Integrated Security=False;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Bware.Data.BwareContext, Bware.Data" MigrationConfiguration="Bware.Data.Migrations.Configuration, Bware.Data" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:s08.winhost.com;Initial Catalog=DB_66156_or;User ID=***REMOVED***;Password=***REMOVED***;Integrated Security=False;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SQLSERVER2012-Web.config Connection String">
      <ParameterValue>Data Source=tcp:s08.winhost.com;Initial Catalog=DB_66156_or;User ID=***REMOVED***;Password=***REMOVED***;Integrated Security=False;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>