<div class="jumbotron">
    <h1>B*ware</h1>
    <p class="lead">B*ware is an app built to locate posted bridges. </p>
    <p> Built by a driver for myself and other drivers. </p>
    <p> Seeded with 7000 bridges from 5 states. </p>
    <p> The iOS app version 1.0 is coming soon... </p>
    <img src="Images/app_icon.png"> 

     @Html.ActionLink("Privacy Policy", "PrivacyPolicy")
</div>
<!--
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>ASP.NET Web API is a framework that makes it easy to build HTTP services that reach
        a broad range of clients, including browsers and mobile devices. ASP.NET Web API
        is an ideal platform for building RESTful applications on the .NET Framework.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>
    </div>
  
</div>
 -->
